* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "roboto", sans-serif;
}

/* .container {
  width: 900px;
  margin: auto;
} */

/* NAVIGATION */

.sec1-color {
  background-color: #1f2937;
}

.sec1-container {
  margin: auto;
  width: 900px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; 
}

.nav-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.nav-link:link,
.nav-link:visited {
  color: #e5e7eb;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

/* HERO */

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-main {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 20px;
}

.sign-up:link,
.sign-up:visited {
  color: #fff;
  padding: 8px 35px 8px 35px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #3882f6;
  color: #fff;
}

.sign-up:hover {
  color: #3882f6;
  background-color: #fff;
}
.mountains {
  width: 450px;
  height: 225px;
}

/* RANDOM INFO */

.random-section {
  background-color: #fff;
  margin-top: 120px;
  margin-bottom: 120px;
}

.random-title {
  color: #1f2937;
  font-size: 34px;
  text-align: center;
  padding-bottom: 50px;
}

.tyler-blocks {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(4, 180px);
  gap: 15px;
}

.tyler-blocks p {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
}

.random-title {
  color: #000;
}

.tyler {
  width: 150px;
  height: auto;
  border-radius: 15px;
}

/* TESTIMONIAL */

.testimonial-color {
  background-color: #e5e7eb;
}
.testimonial-container {
  width: 600px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.testimonial {
  font-style: italic;
  color: #1f2937
  font-weight: 100;
  font-size: 25px;
}

.thor {
  text-align: right;
}
/* CALL TO ACTION */

.cta-box {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  width: 900px;
  height: 150px;
  border-radius: 5px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
}

.cta-text {
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
}

.cta-btn {
  margin-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 30px 5px 30px;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid #fff;
  color: #fff;
}

.cta-btn:hover {
  color: #3882f6;
  background-color: #fff;
}

/* FOOTER */

footer {
  background-color: #1f2937;
  font-size: 14px;
  padding: 25px;
  color: #fff;
  text-align: center;
}
